In [18]:
import pandas as pd

In [19]:
pd.__version__

'0.23.4'

In [20]:
rick_morty = {
    "nombre":["Rick","Morty"],
    "appellidos": ["sanchez","smith"],
    "edad":[60,14]
}
rick_morty

{'nombre': ['Rick', 'Morty'],
 'appellidos': ['sanchez', 'smith'],
 'edad': [60, 14]}

In [21]:
rick_morty = pd.DataFrame(rick_morty)

In [22]:
rick_morty

  nombre appellidos  edad
0   Rick    sanchez    60
1  Morty      smith    14

In [24]:
rick_morty = pd.DataFrame(
    [
        ["Rick", "Sanchez", 60],
        ["Morty", "Smith", 14]
    ], columns = ["nombre", "apellido", "edad"]
)
rick_morty

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [25]:
votos_primarias_us = pd.read_csv("primary_results.csv")

In [26]:
df = votos_primarias_us

In [27]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [41]:
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

In [42]:
df.head(3)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329

In [43]:
df.tail(3)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

In [44]:
df.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

In [48]:
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

In [49]:
df.index

RangeIndex(start=0, stop=24611, step=1)

In [50]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [51]:
df.loc[1]

state                         Alabama
state_abbreviation                 AL
county                        Autauga
fips                             1001
party                        Democrat
candidate             Hillary Clinton
votes                            2387
fraction_votes                    0.8
Name: 1, dtype: object

In [53]:
df2 = df.set_index("county")

In [55]:
df2.index

Index(['Autauga', 'Autauga', 'Baldwin', 'Baldwin', 'Barbour', 'Barbour',
       'Bibb', 'Bibb', 'Blount', 'Blount',
       ...
       'Sweetwater-Carbon', 'Sweetwater-Carbon', 'Teton-Sublette',
       'Teton-Sublette', 'Teton-Sublette', 'Teton-Sublette', 'Uinta-Lincoln',
       'Uinta-Lincoln', 'Uinta-Lincoln', 'Uinta-Lincoln'],
      dtype='object', name='county', length=24611)

In [56]:
df2.loc["Bibb"]

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Bibb,Alabama,AL,1007.0,Democrat,Bernie Sanders,246,0.197
Bibb,Alabama,AL,1007.0,Democrat,Hillary Clinton,942,0.755
Bibb,Alabama,AL,1007.0,Republican,Ben Carson,393,0.099
Bibb,Alabama,AL,1007.0,Republican,Donald Trump,1959,0.494
Bibb,Alabama,AL,1007.0,Republican,John Kasich,84,0.021
Bibb,Alabama,AL,1007.0,Republican,Marco Rubio,444,0.112
Bibb,Alabama,AL,1007.0,Republican,Ted Cruz,1011,0.255
Bibb,Georgia,GA,13021.0,Democrat,Bernie Sanders,2632,0.168
Bibb,Georgia,GA,13021.0,Democrat,Hillary Clinton,12944,0.828
Bibb,Georgia,GA,13021.0,Republican,Ben Carson,1165,0.076
Bibb,Georgia,GA,13021.0,Republican,Donald Trump,5942,0.388
Bibb,Georgia,GA,13021.0,Republican,John Kasich,1110,0.072
Bibb,Georgia,GA,13021.0,Republican,Marco Rubio,3519,0.229
Bibb,Georgia,GA,13021.0,Republican,Ted Cruz,3401,0.222

In [57]:
df2.iloc[1]

state                         Alabama
state_abbreviation                 AL
fips                             1001
party                        Democrat
candidate             Hillary Clinton
votes                            2387
fraction_votes                    0.8
Name: Autauga, dtype: object

In [59]:
df["state"]

0        Alabama
1        Alabama
2        Alabama
3        Alabama
4        Alabama
5        Alabama
6        Alabama
7        Alabama
8        Alabama
9        Alabama
10       Alabama
11       Alabama
12       Alabama
13       Alabama
14       Alabama
15       Alabama
16       Alabama
17       Alabama
18       Alabama
19       Alabama
20       Alabama
21       Alabama
22       Alabama
23       Alabama
24       Alabama
25       Alabama
26       Alabama
27       Alabama
28       Alabama
29       Alabama
          ...
24581    Wyoming
24582    Wyoming
24583    Wyoming
24584    Wyoming
24585    Wyoming
24586    Wyoming
24587    Wyoming
24588    Wyoming
24589    Wyoming
24590    Wyoming
24591    Wyoming
24592    Wyoming
24593    Wyoming
24594    Wyoming
24595    Wyoming
24596    Wyoming
24597    Wyoming
24598    Wyoming
24599    Wyoming
24600    Wyoming
24601    Wyoming
24602    Wyoming
24603    Wyoming
24604    Wyoming
24605    Wyoming
24606    Wyoming
24607    Wyoming
24608    Wyoming
24609    Wyoming
24610    Wyoming
Name: state, Length: 24611, dtype: object

In [60]:
df["shape"] = 1

In [61]:
df.shape

(24611, 9)

In [62]:
df["shape"]

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
24581    1
24582    1
24583    1
24584    1
24585    1
24586    1
24587    1
24588    1
24589    1
24590    1
24591    1
24592    1
24593    1
24594    1
24595    1
24596    1
24597    1
24598    1
24599    1
24600    1
24601    1
24602    1
24603    1
24604    1
24605    1
24606    1
24607    1
24608    1
24609    1
24610    1
Name: shape, Length: 24611, dtype: int64

In [63]:
df.head(3)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1

In [64]:
type(df['county'])

pandas.core.series.Series

In [66]:
df[df.votes >= 590502]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57,1

In [68]:
df[(df.county=="Manhattan")&(df.party=="Democrat")]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337,1
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663,1

In [72]:
country = "Manhattan"
df.query("county == @country and party == 'Democrat'")

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337,1
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663,1

In [74]:
df.sort_values(by="votes",ascending=False)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570,1
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420,1
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536,1
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454,1
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536,1
17309,Pennsylvania,PA,Philadelphia,42101.0,Democrat,Hillary Clinton,212785,0.626,1
4462,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Bernie Sanders,212428,0.457,1
1519,California,CA,Los Angeles,6037.0,Republican,Donald Trump,179130,0.698,1
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663,1
14964,New York,NY,Brooklyn,36047.0,Democrat,Hillary Clinton,174236,0.600,1
12206,Michigan,MI,Wayne,26163.0,Democrat,Hillary Clinton,163886,0.600,1
19312,Texas,TX,Harris,48201.0,Democrat,Hillary Clinton,156729,0.705,1
20123,Texas,TX,Harris,48201.0,Republican,Ted Cruz,147721,0.453,1
1552,California,CA,Orange,6059.0,Republican,Donald Trump,146888,0.767,1
800,Arizona,AZ,Maricopa,4013.0,Republican,Donald Trump,144522,0.462,1
1422,California,CA,San Diego,6073.0,Democrat,Hillary Clinton,139813,0.551,1
2638,Florida,FL,Broward,12011.0,Democrat,Hillary Clinton,132527,0.725,1
2712,Florida,FL,Miami-Dade,12086.0,Democrat,Hillary Clinton,129467,0.747,1
764,Arizona,AZ,Maricopa,4013.0,Democrat,Hillary Clinton,126988,0.581,1
15996,Ohio,OH,Cuyahoga,39035.0,Democrat,Hillary Clinton,125914,0.632,1
17308,Pennsylvania,PA,Philadelphia,42101.0,Democrat,Bernie Sanders,125688,0.370,1
1573,California,CA,San Diego,6073.0,Republican,Donald Trump,124255,0.784,1
1408,California,CA,Orange,6059.0,Democrat,Hillary Clinton,123723,0.546,1
17211,Pennsylvania,PA,Allegheny,42003.0,Democrat,Hillary Clinton,122399,0.551,1
15038,New York,NY,Queens,36081.0,Democrat,Hillary Clinton,122386,0.616,1
14963,New York,NY,Brooklyn,36047.0,Democrat,Bernie Sanders,116327,0.400,1
9148,Maryland,MD,Prince George's,24033.0,Democrat,Hillary Clinton,113912,0.742,1
19224,Texas,TX,Dallas,48113.0,Democrat,Hillary Clinton,113574,0.715,1
1421,California,CA,San Diego,6073.0,Democrat,Bernie Sanders,111898,0.441,1
2931,Florida,FL,Miami-Dade,12086.0,Republican,Marco Rubio,111898,0.627,1
...,...,...,...,...,...,...,...,...,...
8469,Maine,ME,Grand Lake Stream Plt,92300178.0,Democrat,Bernie Sanders,0,0.000,1
9337,Massachusetts,MA,Bolton,92500034.0,Democrat,No Preference,0,0.000,1
8488,Maine,ME,Hamlin,92300188.0,Democrat,Hillary Clinton,0,0.000,1
9376,Massachusetts,MA,Buckland,92500047.0,Democrat,No Preference,0,0.000,1
5519,Iowa,IA,Allamakee,19005.0,Democrat,Martin O'Malley,0,0.000,1
5516,Iowa,IA,Allamakee,19005.0,Democrat,Uncommitted,0,0.000,1
22016,Vermont,VT,Isle La Motte,95000099.0,Republican,Ben Carson,0,0.000,1
9415,Massachusetts,MA,Chesterfield,92500060.0,Democrat,No Preference,0,0.000,1
9421,Massachusetts,MA,Chilmark,92500062.0,Democrat,No Preference,0,0.000,1
5760,Iowa,IA,Marshall,19127.0,Democrat,Uncommitted,0,0.000,1
5763,Iowa,IA,Marshall,19127.0,Democrat,Martin O'Malley,0,0.000,1
5515,Iowa,IA,Adams,19003.0,Democrat,Martin O'Malley,0,0.000,1
8490,Maine,ME,Hammond,92300189.0,Democrat,Hillary Clinton,0,0.000,1
5764,Iowa,IA,Mills,19129.0,Democrat,Uncommitted,0,0.000,1
8489,Maine,ME,Hammond,92300189.0,Democrat,Bernie Sanders,0,0.000,1
5512,Iowa,IA,Adams,19003.0,Democrat,Uncommitted,0,0.000,1
8470,Maine,ME,Grand Lake Stream Plt,92300178.0,Democrat,Hillary Clinton,0,0.000,1
9529,Massachusetts,MA,Florida,92500098.0,Democrat,No Preference,0,0.000,1
9556,Massachusetts,MA,Goshen,92500108.0,Democrat,No Preference,0,0.000,1
9559,Massachusetts,MA,Gosnold,92500109.0,Democrat,No Preference,0,0.000,1
5511,Iowa,IA,Adair,19001.0,Democrat,Martin O'Malley,0,0.000,1
5767,Iowa,IA,Mills,19129.0,Democrat,Martin O'Malley,0,0.000,1
5508,Iowa,IA,Adair,19001.0,Democrat,Uncommitted,0,0.000,1
5768,Iowa,IA,Mitchell,19131.0,Democrat,Uncommitted,0,0.000,1
9619,Massachusetts,MA,Hawley,92500129.0,Democrat,No Preference,0,0.000,1
8476,Maine,ME,Greenbush,92300181.0,Democrat,Hillary Clinton,0,0.000,1
8474,Maine,ME,Great Pond,92300180.0,Democrat,Hillary Clinton,0,0.000,1
8473,Maine,ME,Great Pond,92300180.0,Democrat,Bernie Sanders,0,0.000,1
9637,Massachusetts,MA,Holland,92500135.0,Democrat,No Preference,0,0.000,1
8290,Maine,ME,Castle Hill,92300087.0,Democrat,Hillary Clinton,0,0.000,1

In [76]:
df.groupby("state").votes.sum()

state
Alabama           1223959
Alaska              22469
Arizona            834200
Arkansas           605971
California        4938197
Colorado           121184
Connecticut        531302
Delaware           160416
Florida           3940929
Georgia           2032941
Hawaii              46886
Idaho              238989
Illinois          3372537
Indiana           1719291
Iowa               326704
Kansas             111296
Kentucky           648885
Louisiana          585781
Maine                3415
Maryland          1233272
Massachusetts     1813320
Michigan          2431111
Mississippi        614200
Missouri          1531672
Montana            257516
Nebraska           213691
Nevada              86815
New Hampshire      525966
New Jersey        1321220
New Mexico         309532
New York          2686539
North Carolina    2185747
North Dakota          354
Ohio              3204172
Oklahoma           766123
Oregon             933975
Pennsylvania      3176340
Rhode Island       179594
South Carolina    1105408
South Dakota       119881
Tennessee         1200576
Texas             4147889
Utah               254203
Vermont            192960
Virginia          1791672
Washington         537150
West Virginia      398352
Wisconsin         2073402
Wyoming              1183
Name: votes, dtype: int64

In [78]:
df.groupby(["state","party"]).votes.sum()

state           party
Alabama         Democrat       386327
                Republican     837632
Alaska          Democrat          539
                Republican      21930
Arizona         Democrat       399097
                Republican     435103
Arkansas        Democrat       209448
                Republican     396523
California      Democrat      3442623
                Republican    1495574
Colorado        Democrat       121184
Connecticut     Democrat       322485
                Republican     208817
Delaware        Democrat        92609
                Republican      67807
Florida         Democrat      1664003
                Republican    2276926
Georgia         Democrat       757340
                Republican    1275601
Hawaii          Democrat        33658
                Republican      13228
Idaho           Democrat        23705
                Republican     215284
Illinois        Democrat      1987834
                Republican    1384703
Indiana         Democrat       638638
                Republican    1080653
Iowa            Democrat       139980
                Republican     186724
Kansas          Democrat        39043
                               ...
Oklahoma        Democrat       313392
                Republican     452731
Oregon          Democrat       572485
                Republican     361490
Pennsylvania    Democrat      1638644
                Republican    1537696
Rhode Island    Democrat       119213
                Republican      60381
South Carolina  Democrat       367491
                Republican     737917
South Dakota    Democrat        53004
                Republican      66877
Tennessee       Democrat       365637
                Republican     834939
Texas           Democrat      1410641
                Republican    2737248
Utah            Democrat        76999
                Republican     177204
Vermont         Democrat       134198
                Republican      58762
Virginia        Democrat       778865
                Republican    1012807
Washington      Democrat        26299
                Republican     510851
West Virginia   Democrat       210214
                Republican     188138
Wisconsin       Democrat      1000703
                Republican    1072699
Wyoming         Democrat          280
                Republican        903
Name: votes, Length: 95, dtype: int64

In [89]:
df.state.apply(lambda s: s[:4])

0        Alab
1        Alab
2        Alab
3        Alab
4        Alab
5        Alab
6        Alab
7        Alab
8        Alab
9        Alab
10       Alab
11       Alab
12       Alab
13       Alab
14       Alab
15       Alab
16       Alab
17       Alab
18       Alab
19       Alab
20       Alab
21       Alab
22       Alab
23       Alab
24       Alab
25       Alab
26       Alab
27       Alab
28       Alab
29       Alab
         ...
24581    Wyom
24582    Wyom
24583    Wyom
24584    Wyom
24585    Wyom
24586    Wyom
24587    Wyom
24588    Wyom
24589    Wyom
24590    Wyom
24591    Wyom
24592    Wyom
24593    Wyom
24594    Wyom
24595    Wyom
24596    Wyom
24597    Wyom
24598    Wyom
24599    Wyom
24600    Wyom
24601    Wyom
24602    Wyom
24603    Wyom
24604    Wyom
24605    Wyom
24606    Wyom
24607    Wyom
24608    Wyom
24609    Wyom
24610    Wyom
Name: state, Length: 24611, dtype: object

In [90]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1

In [91]:
df_pobreza = pd.read_csv("PovertyEstimates.csv")

In [92]:
df_pobreza.head()

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9
4     1005            32.0

In [93]:
df_merged = df.merge(df_pobreza,left_on="fips",right_on="FIPStxt")

In [94]:
df_merged.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,1,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,1,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,1,1001,12.7

In [ ]:
df_merged.to_excel("votos_pobresa.xlsx",sheet_name="datos")